

# **1.   Restrição de colunas**



# **1.1   Tipos de chaves: Chave primária “primary key”**


Para identificar uma tabela, podemos utilizar uma chave primária. Existem algumas regras que devem ser respeitadas na coluna designada a ser chave primária:

• O valor da coluna não pode se repetir na tabela;

• O valor da coluna não pode ser nulo.

Você pode utilizar a chave primária de uma tabela para identificar uma instância em outra tabela.

    CREATE TABLE <nome_tabela> (
      <nome_da_coluna_primaria> <tipo_da_coluna_primaria> PRIMARY KEY,
      <nome_da_coluna_2> <tipo_da_coluna_2>, ... );

No exemplo, podemos colocar a chave primeira como o id_transacao, já que toda transação deve ser única (índice não se repete) e não nula (não pode existir um valor de transação que não foi preenchido):

    CREATE TABLE transacoes (
      id_cliente INT,
      id_transacao INT PRIMARY KEY,
      data_compra DATE, valor FLOAT,
      id_loja varchar(25) );



# **1.2    Tipos de chaves: Chave estrangeira “foreign key”:**


Quando queremos relacionar duas tabelas, utilizamos a chave estrangeira. Isso significa que uma coluna na tabela atual, está relacionada com alguma instância de outra tabela. No exemplo para o MySQL:

    CREATE TABLE <nome_tabela> (
      <nome_da_coluna> <tipo_da_coluna>,
      <nome_da_coluna> <tipo_da_coluna>, ...,
      <nome_da_coluna> <tipo_da_coluna>,
      FOREIGN KEY <nome_da_coluna> REFERENCES <nome_tabela_da_chave_relaciona(<nome_da_coluna_na_tabe );

Exemplo: Na nossa tabela transações, faz sentido ter a chave primária como id_transacoes como fizemos anteriormente e deixar a chave estrangeira como o id_cliente. Isso porque, deve existir uma tabela clientes onde esse id_cliente é a chave primeira.

    CREATE TABLE transacoes(
      id_cliente INT,
      id_transacao INT PRIMARY KEY,
      data_compra DATE,
      valor FLOAT,
      id_loja varchar(25),
      FOREIGN KEY (id_cliente) REFERENCES clientes(id_cliente) );



# **2.   Tipos de restrições**


Algumas regras podem ser estabelecidas nos dados da sua tabela. Definindo-as na hora da criação da tabela, garantirá segurança a inserção dos dados.



# **2.1   Valores não nulos (not null): Os valores da coluna não podem ser nulos.**

    CREATE TABLE <nome_tabela> (
      <nome_da_coluna> <tipo_da_coluna> NOT NULL ,
       <nome_da_coluna_2> <tipo_da_coluna_2> , ... );

No nosso exemplo (unindo tudo que já aprendemos):

    CREATE TABLE transacoes (
      id_cliente INT,
      id_transacao INT PRIMARY KEY,
      data_compra DATE,
      valor FLOAT NOT NULL,
      id_loja varchar(25),
      FOREIGN KEY (id_cliente) REFERENCES clientes(id_cliente) );



# **2.2   Valores únicos (unique): Define que os valores da coluna devem ser únicos.**

    CREATE TABLE <nome_tabela> (
      <nome_da_coluna> <tipo_da_coluna> UNIQUE ,
      <nome_da_coluna_2> <tipo_da_coluna_2> , ... );

No nosso exemplo (unindo tudo que já aprendemos):

    CREATE TABLE transacoes (
      id_cliente INT,    
      id_transacao INT PRIMARY KEY,
      data_compra DATE UNIQUE,     
      valor FLOAT NOT NULL,    
      id_loja varchar(25),     
      FOREIGN KEY (id_cliente) REFERENCES clientes(id_cliente) );



# **2.3   Checando restrições (check)**

    CREATE TABLE <nome_tabela> (
      <nome_da_coluna> <tipo_da_coluna>,
      <nome_da_coluna_2> <tipo_da_coluna_2> ,
      CHECK (<condicao>) ... );

No nosso caso, podemos avaliar se não há valor negativo nas transações:

    CREATE TABLE transacoes (
      id_cliente INT,
      id_transacao INT PRIMARY KEY,
      data_compra DATE UNIQUE,
      valor FLOAT NOT NULL,
      id_loja varchar(25),
      FOREIGN KEY (id_cliente) REFERENCES clientes(id_cliente)
      CHECK (valor > 0) );



# *   **Obs:**  Não há alteração visual quando adicionamos primary key ou foreign key na tabela. Por isso não mostraremos o resultado aqui.