

# **1.   Comando Select**

Para visualizar todos os dados da tabela, utilize asterisco (*):


    SELECT * FROM <nome_tabela>;

Para visualizar colunas específicas da tabela:


    SELECT <nome_coluna_1>,<nome_coluna_2> FROM <nome_tabela>;



# **2.   Comando AS**

Você pode criar um apelido (alias) na hora se mostrar sua coluna com o comando AS:


    SELECT <nome_da_coluna> AS <apelido_para_coluna> FROM <nome_da_tabela>;

 Ou


    SELECT <nome_coluna1> AS <apelido_para_coluna1>, <nome_da_coluna2> AS <apelido_para_coluna2> FROM <n

No nosso exemplo:


    SELECT id_cliente,id_transacao, data_compra, id_loja AS nome_loja FROM transacoes;



# **3.   Comando Select Distinct**

Supondo que existam várias lojas (id_loja) diferentes no nosso banco de dados transações, com  o uso do select distinct, o SQL só mostra quais são as lojas cadastradas na tabela, sem repetição.


    SELECT DISTINCT <nome_da_coluna> FROM <nome_da_tabela>;

No nosso caso:


    SELECT DISTINCT id_loja AS nome_loja FROM transacoes;